<IfModule mod_rewrite.c>

RewriteEngine on

# Remove trailing slashes for dynamic pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)/$ $1 [L,R]

# Prevent access to protected directories and files
RewriteRule src/(.*)$ . [F]
RewriteRule app/(.*)$ . [F]
RewriteRule lib/(.*)$ . [F]
RewriteRule example_config/(.*)$ . [F]
RewriteRule assets/sql(.*)$ . [F]

#RewriteRule ^README|LICENSE$ . [F]

# Redirect dynamic requests to index.php file
RewriteCond %{REQUEST_FILENAME} !favicon\.ico
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L,QSA]

</IfModule>