div.actions
{
	clear: both;
	padding: 0 10px;
}
#content div.actions
{
	padding: 1em 0;
}

div.actions div.left
{
	float: left;
}

div.actions div.right
{
	float: right;
}

p.actions {
	float: left;
	margin: 0;
	padding: 0;
}

	p.actions a {
		float: left;
	}

p.pagination
{
	float: left;
	margin: 0;
	padding: 0 0 0 25px;
}

	p.pagination a {
		float: left;
	}
	
	p.pagination span {
		display: block;
		float: left;
		font-size: 12px;
		line-height: 1em;
		padding: 6px 1ex 0 1ex;
	}
	
div.actions p.actions input
{
	float: left;
}
	
div.actions form {
	float: left;
	margin: 0;
	padding: 0;
}
	div.actions form input,
	div.actions form select,
	div.actions form label,
	div.actions form a
	{
		margin: 0;
		padding: 0;
		float: left;
		margin-left: 1ex;
	}
	
	div.actions form label
	{
		font-size: 12px;
		line-height: 1em;
		margin: 0;
		padding: .25em 1ex 0 1ex;
	}
	
	div.actions form input.text,
	div.actions form select
	{
		font-size: 12px;
	}
	
	div.actions form a {
		margin-top: -.25em;
		margin-left: 0;
	}