/* TABLE ----------------------------------------------------------------- */

.data_grid {
	border-bottom: 1px solid #D9DDE5;
	color: #1A1C26;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}


/* ALL CELLS ------------------------------------------------------------- */

.data_grid tr th,
.data_grid tr td {
	border-left: 1px solid #D9DDE5;
	border-top: none;
	border-bottom: none;
	font-size: 11px;
	margin: 0;
	padding: 5px;
}
.data_grid tr th:first-child,
.data_grid tr td:first-child {
	border-left: none !important;
}


/* TABLE HEADER ---------------------------------------------------------- */

.data_grid thead tr th {
	background-color: #B5B9BF;
	background-image: url(../img/gradient-30.png);
	background-position: 0 100%;
	background-repeat: repeat-x;
	border-left: 1px solid #585D66;
	border-bottom: 1px solid #7A8599;
	color: #1C2E4D;
	font-weight: bold;
	text-align: left;
	text-shadow: #D9DFE5 0px 1px 0;
	vertical-align: bottom;
}

	.data_grid thead tr th a {
		background-position: 100% 50%;
		background-repeat: no-repeat;
		color: #1C2E4D;
		display: block;
		margin:  -5px;
		padding: 5px;
		text-decoration: none;
		width: 100%;
	}
	.data_grid thead tr th.active {
		background-image: url(../img/gradient-30.png);
		background-position: 0 100%;
		background-repeat: repeat-x;
		padding-right: 10px;
	}
		.data_grid thead tr .active {
			background-color: #919499;
			text-shadow: #B5BABF 0px 1px 0;
		}
		.data_grid thead tr th a:hover {
			background-color: #787B7F;
			text-shadow: #9DA1A5 0px 1px 0;
		}
		.data_grid thead tr th.active a {
			color: #FFFFFF;
			margin-right: -10px;
			padding-right: 10px;
			text-shadow: #767A7F 0px -1px 0;
		}
		
		.data_grid thead tr th.ascending a {
			background-image: url("../img/arrow_ascending.png");
		}
		.data_grid thead tr th.descending a {
			background-image: url("../img/arrow_descending.png");
		}


/* TABLE BODY ------------------------------------------------------------ */

.data_grid tbody tr td {
	/*display: block;*/
	overflow: hidden;
	max-width: 240px;
	vertical-align: middle;
	white-space: nowrap;
}
.data_grid tbody tr td.sort {
	background-color: #E8EAEF;
}

	.data_grid tbody tr.odd td {
		background-color: #FFFFFF;
	}
	.data_grid tbody tr.odd td.sort {
		background-color: #F7F7F7;
	}
	
	.data_grid tbody tr:hover td,
	.data_grid tbody tr.odd:hover td {
		background: #5B6373 url(../img/gradient-30.png) 0 100% repeat-x;
		color: #FFFFFF;
		cursor: pointer;
	}
	.data_grid thead tr.filter td,
	.data_grid thead tr.filter:hover td {
		background-color: #B5B9BF;
		border-left: 1px solid #585D66;
		border-bottom: 1px solid #7A8599;
		padding: 2px;
	}
	
		.data_grid thead tr.filter td select {
			font-size: 10px;
		}
		
		
/* DATAGRID NAVIGATION --------------------------------------------------- */

#bb_sections .container.data_grid_embed {
	border-bottom: 1px solid #505866;
	bottom: 30px !important;
}

.datagrid_navigation {
	background: #7A8599 url(../img/gradient-30.png) 0 100% repeat-x;
	border-top: 1px solid #8D9BB3;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	height: 25px;
	line-height: 1em;
	overflow: hidden;
	padding: 4px 10px 0 10px;
	position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
	text-align: right;
	text-shadow: #505866 0px -1px 0;
}

	.datagrid_navigation a {
		color: #FFFFFF;
	}
	.datagrid_navigation a:link {
		text-decoration: underline;
	}