.bb_module_edit {
	
}

	.bb_module_edit iframe {
		display: none;
	}

.bb_module_edit .form_item {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DEE1E5;
	clear: both;
	float: left;
	padding: 10px 0;
	width: 100%;
}

.bb_module_edit .form_item.buttons {
	border-top: none;
	border-bottom: none;
}

.bb_module_edit .form_item.buttons label:after {
	content: '';
}


.bb_module_edit .form_item.changed {
	background-color: #E5E5CD;
	border-top: 1px solid #F2F2D9;
	border-bottom: 1px solid #D9D8C2;
}
.bb_module_edit .form_item.failed {
	background-color: #FF644A !important;
	/*
	border-top: 1px solid #F2F2D9;
	border-bottom: 1px solid #D9D8C2;
	*/
}

.bb_module_edit .form_item.active {
	background-color: #DEE1E5;
	border-top: 1px solid #EAEDF2;
	border-bottom: 1px solid #D2D5D8;
}

	.bb_module_edit .form_item label {
		color: #1C2E4D;
		float: left;
		font-size: 12px;
		line-height: 1em;
		padding: 5px 0 0 0;
		text-align: right;
		width: 15%;
	}
	
	.bb_module_edit .form_item span {
		display: block;
		line-height: 18px;
		padding: 3px 0 5px 0;
	}
	
	.bb_module_edit .form_item.failed label
	{
		
	}	
	
	.bb_module_edit .form_item label:after {
		content: ':';
		white-space: nowrap;
	}
	
	.bb_module_edit .form_item label.must_validate
	{
		font-weight: bold;
	}
	
	.bb_module_edit .form_item label.must_validate:after
	{
		content: '*:';
		white-space: nowrap;
	}
	
	.bb_module_edit .form_item .error_item {
		margin-top: 10px;
		clear: both;
		color: white;
		font-weight: bold;
	}
	
	.bb_module_edit .form_item .input {
		float: left;
		width: 81%; /* ie7.css */
		margin: 0 2%;
	}
	
		.bb_module_edit .form_item .input input,
		.bb_module_edit .form_item .input select,
		.bb_module_edit .form_item .input textarea {
			font-family: "Lucida Grande", Lucida, Sans-serif;
			font-size: 12px;
			line-height: 1.25em;
			
		}
		.bb_module_edit .form_item .input input[type="text"],
		.bb_module_edit .form_item .input input[type="password"],
		.bb_module_edit .form_item .input textarea {
			width: 95%;
		}
		.bb_module_edit .form_item .input textarea {
			padding: 2px;
		}
	
		.bb_module_edit .form_item .input .tip {
			color: #1C2E4D;
			font-size: 9px;
			padding-top: 3px;
		}
		
		.bb_module_edit .form_item .input .fileinput {
			padding-bottom: 5px;
		}
	
	.bb_module_edit .form_item .add_file {
		color: #1C2E4D;
		cursor: pointer;
		font-size: 9px;
		font-weight: bold;
		text-decoration: underline;
	}
	
	.bb_module_edit .form_item ul {
		padding-top: 5px;
	}
	
	.bb_module_edit .form_item li {
		padding-bottom: 10px;
	}
	
		.bb_module_edit .form_item .handle {
			cursor: move;
		}
		
		.bb_module_edit .form_item .remove {
			color: red;
			cursor: pointer;
			display: none;
			font-size: 9px;
			font-style: normal;
			font-weight: bold;
			padding-left: 1em;
			text-decoration: underline;
		}
		.bb_module_edit .form_item :hover>em {
			display: inline;
		}


ul.pairset
{
	float: left;
}
	ul.pairset li
	{
		background-color: #EEEEEE;
		background-image: url("../img/reorder.png");
		background-repeat: no-repeat;
		background-position: 0 3px;
		
		cursor: move;
		float: left;
		width: 95%;
		margin: 0 0 0 0;		
		padding: .25em 0 .25em 25px;
		border-top: 1px solid #FFFFFF;
		border-bottom: 1px solid #DEE1E5;
	}
	ul.pairset li:hover
	{
		background-color: #E6E8ED;
		background-image: url("../img/reorder_hover.png");
	}
	ul.pairset li:active
	{
		background-image: url("../img/reorder_active.png");
	}

	ul.pairset label
	{
		/*margin-top: .5em;*/
	}
	ul.pairset .input
	{
		margin-top: .25em;
		margin-left: 1em;
	}

	.form_item .pair:hover .handle:hover,
	.form_item .pair .handle:focus
	{
		background-position: 50% -25px;
	}
	.form_item .pair:hover .handle
	{
		background-position: 50% 0;
	}
	.form_item .pair label
	{
		float: left;
		/*margin-top: .5em;*/
		margin-top: 2px;
		width: 25px;
	}
	.form_item .pair textarea
	{
		/*width: 240px;*/
		line-height: 1em;
		padding: 0;
	}
	.form_item .pair.single textarea
	{
		/*width: 500px;*/
		line-height: 1em;
		padding: 0;
	}
	.form_item .pair .input
	{
		width: 240px;
		padding-right: 10px;
		float: left;
	}
	.form_item .pair.single .input
	{
		width: 500px;
		padding-right: 10px;
		float: left;
	}

	.form_item .pair.images .img
	{
		width: 240px;
		padding-right: 0px;
		float: left;
	}

	.form_item .pair pre
	{
		float: left;
		margin: 0;
		padding: .25em 0;
		margin-top: 5px;
		cursor: pointer;
		font-family: arial;
		white-space: pre-wrap;
		word-wrap: break-word;
		white-space: -moz-pre-wrap;
		width: 100%;
	}
	.form_item .pair:hover pre
	{
		background-color: #FFFFFF;
		color: #000;
	}
	
	.form_item .pair a.icon 
	{
		margin-top: 7px;
		width: 60px;
		float: right !important;
	}
