/* $Id: prototype_ie7.css 104 2008-04-29 20:38:15Z joshuarudd $ */

#bb_navigation {
	top: 19px;
	height: expression(document.body.clientHeight-20+'px');
}

#bb_navigation #bb_main_nav_tables {
	height: expression(document.body.clientHeight-160+'px');
}

#bb_main {
	top: 19px;
	left: 179px;
	height: expression(document.body.clientHeight-20+'px');
}