/* $Id$ */

/* -------------------------------------------------------

Data Grid

--------------------------------------------------------*/

table.data_grid
{
	background-color: #FFFFFF;
	color: #666666;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}

	table.data_grid th,
	table.data_grid td
	{
		border: 1px solid #CCCCCC;
		margin: 0;
		padding: 4px;
	}
	
	table.data_grid th
	{
		background-color: #CCCCCC;
		border: 1px solid #B3B3B3;
		color: #666666;
		text-shadow: #FFFFFF 0px 1px 2px;
		font-weight: bold;
		padding: 14px 4px 4px 4px;
		text-align: left;
		vertical-align: bottom;
	}
		table.data_grid th.ascending,
		table.data_grid th.descending
		{
			padding-right: 18px;
		}
	
		table.data_grid th a
		{
			background-position: 100% 100%;
			background-repeat: no-repeat;
			color: #666666;
			display: block;
			margin: -14px -4px -4px -4px;
			padding: 14px 4px 4px 4px;
			width: 100%;
		}
			table.data_grid th a:hover,
			table.data_grid th.active a
			{
				background-color: #BBBBBB;
				color: #000000;
			}
			
			table.data_grid th.ascending a
			{
				background-image: url("../img/arrow_ascending.gif");
				margin-right: -18px;
				padding-right: 18px;
			}
			.data_grid th.descending a
			{
				background-image: url("../img/arrow_descending.gif");
				margin-right: -18px;
				padding-right: 18px;
			}
				table.data_grid th.ascending a:hover,
				table.data_grid th.descending a:hover
				{
					background-color: #AAAAAA;
				}
	
	table.data_grid tr td
	{
		vertical-align: middle;
	}
	
		table.data_grid tr.odd td
		{
			background-color: #F6F6F6;
		}
		
		
		
		table.data_grid tr td.snug
		{
			text-align: center;
			white-space: nowrap;
			width: 1%;
		}
		table.data_grid tr th.snug
		{
			white-space: nowrap;
			width: 1%;
		}

table.data_grid .records tr
{
	cursor: pointer;
}

table.data_grid .records tr.locked
{
	cursor: default;
}

table.data_grid .records tr.inactive td
{
	color: #CCCCCC;
}
	table.data_grid .records tr:hover td,
	table.data_grid .records tr.hover td
	{
		background-color: #E6E8ED;
		color: #3B3B3B;
	}
	
	table.data_grid .records tr td.active
	{
		background-color: #F7FAFF;
		color: #3B3B3B;
	}
	
	table.data_grid .records tr.inactive td.active
	{
		color: #CCCCCC;
	}
	
	table.data_grid .records tr.odd td.active
	{
		background-color: #EDF0F5;
	}
	table.data_grid .records tr:hover td.active,
	table.data_grid .records tr.hover td.active
	{
		background-color: #DFE1E5;
	}
	
	table.data_grid .records tr.inactive:hover td.active,
	table.data_grid .records tr.hover td.active
	{
		color: #3B3B3B;
	}


table.data_grid .records tr.active td
{
	background-color: #D1D8E5;
}

table.data_grid.readonly .records tr
{
	cursor: default;
}

table.data_grid.readonly .records tr:hover td
{
	background-color: #FFFFFF;
	color: #666666;
}


table.data_grid.readonly .records tr.odd:hover td
{
	background-color: #F6F6F6;
	color: #666666;
}





