/* -------------------------------------------------------

Navigation

--------------------------------------------------------*/

#header {
	z-index: 25;
}
	
#masthead
{
	font-size: 11px;
	/*height: 50px;*/
	background-color: #CCCCCC;
	/*background: url('../img/header.gif') 0 0 no-repeat;*/
	position: relative;
	cursor: pointer;
}

	#masthead h1
	{
		color: #FFF;
		font-size: 30px;
		font-weight: normal;
		line-height: 1em;
		padding: 10px;
	}
	
		#masthead h1 a
		{
			display: block;
			height: 50px;
			width: 110px;
			text-indent: -9000px;
		}

#navigation
{
	background-color: #1A1A1A;
	float: left;
	width: 100%;
}

	p#logged_info
	{
		float: right;
		font-size: 10px;
		text-align: right;
		color: #FFFFFF;
		line-height: 1em;
		padding: .5em 2ex;
		z-index: 75;
	}
		p#logged_info a
		{
			color: #FFFFFF;
		}

#nav
{
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 0px;
	border: 0px;
	background-color: #1A1A1A;
	list-style-type: none;
	font-size: 10px;
	z-index: 50;
}

	#nav ul
	{
		display: none;
		position: absolute;
		top: 2em;
		left: 0;
		margin: 0;
		padding: 0;
	}
	
	#nav li
	{
		display: inline;
		float: left;
		line-height: 1em;
		margin: 0;
		padding: 0;
		position: relative;
	}

		#nav li a
		{
			display: block;
			border-right: 1px solid #FFFFFF;
			color: #FFFFFF;
			padding: .5em 2ex;
			text-decoration: none;
			width: 20ex;
		}
		
		#nav li a:hover
		{
			background-color: #555555;
		}
		
		#nav ul a {
			background-color: #8F8F8F;
			border-right: none;
			border-top: 1px solid #FFFFFF;
		}
	
		#nav li:hover ul, #nav li.hover ul 
		{
			display: block;
		}
	
		#nav li ul li 
		{
			float: none;
		}
